<!DOCTYPE html>
<html>
  <head>
    <title>JinroMemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script>
$(function(){
  $('#btn1').click(function(){
    //要素をコピーして、テキストに"hoge"を設定する
    var obj = $('#d1').clone();
    //要素の後ろにコピーした要素を追加する
    $('#d1').after(obj);
  });
});
</script>
  </head>
  
  <body>
    <%= yield %>
    <div id="player"></div>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      function onYouTubeIframeAPIReady() {
        new YT.Player('player', {
          height: '270',
          width: '430',
          videoId: 'lm_N43AXvLw',
        });
      }
    </script>
  </body>
</html>
